{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <!-- header-end -->

    <!-- slider_area_start -->
     <!-- <div class="slider_area">
         <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                 <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h1>Привет</h1>
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">4536+ Jobs listed</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your Dream Job</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">We provide online instant cash loans with quick approval that suit your term length</p>
                             <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="#" class="boxed-btn3">Upload your Resume</a> 
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
        <img src="{% static 'img/banner/illustration1.png' %}" alt="">
        
    </div> 
    slider_area_end -->

    <!-- catagory_area -->
    
    <div class="catagory_area">
        <div class="container">
            <div class="row cat_search">
                 <!--<form action="/your-name/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form> -->
                <form method="post" action="{% url 'route' %}">
                <div class="col-lg-12 col-md-4">
                    <div class="single_input">
                            {% csrf_token %}
                        <input name="departure" type="text" placeholder="Откуда" />
                        
                    </div>
                </div>
                <div class="col-lg-12 col-md-4">
                    <div class="single_input">
                            {% csrf_token %}
                        <input name="arrival" type="text" placeholder="Куда" />
                    </div>
                </div>
                <div class="col-lg-12 col-md-4">
                    <div class="single_input">
                        
                    <!--Дата отправления:-->
                    <input type="date" id="start" name="date_start" value={{ today }} min={{ min_day_value }} max={{ max_day_value }} />
                        
                    </div>
                </div>
                <div class="col-lg-12 col-md-4">
                    <div class="single_input">
                
                    <!--Дата прибытия: -->
                    <input type="date" id="stop" name="date_stop" value={{ tommorow }} min={{ min_day_value }} max={{ max_day_value }} />
                
                    </div>
                </div>
                <p text-align: right;> </p>
                    <!--<div class="col-lg-3 col-md-4">
                    <div class="single_input">
                        <select class="wide" >
                            <option data-display="Location">Location</option>
                            <option value="1">Dhaka</option>
                            <option value="2">Rangpur</option>
                            <option value="4">Sylet</option>
                          </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="single_input">
                        <select class="wide">
                            <option data-display="Category">Category</option>
                            <option value="1">Category 1</option>
                            <option value="2">Category 2</option>
                            <option value="4">Category 3</option>
                          </select>
                    </div>
                </div> -->

                <div class="col-lg-8 col-md-12">
                    <div class="job_btn">
                        <input type="submit" class="boxed-btn3" value="Отследить маршрут" />
                    </div>
                </div>
                
                </div> 
                
               
                </form>
                
                
                <!--
                <div class="col-lg-3 col-md-12">
                    <div class="job_btn">
                        <a href="{% url 'route' %}" class="boxed-btn3">Отследить маршрут</a>
                    </div>
                </div>  -->
                <h1 text-align: right;> </h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="popular_search d-flex align-items-center">
                        {% if is_superuser %}
                        <span>Привелегии администратора:</span>
                        <ul>
                            <li><a href ="{% url 'add_route' %}">Добавить рейс</a></li>
                            <li><a href ="{% url 'del_route' %}">Удалить рейс</a></li>
                            <li><a href ="{% url 'change_route' %}">Изменить рейс</a></li>
                            <li><a href ="{% url 'show_table' 'races' %}">Таблица рейсов</a></li>
                        </ul>
                        <span> </span>
                        <ul>
                            <li><a href ="{% url 'add_train' %}">Добавить поезд</a></li>
                            <li><a href ="{% url 'del_train' %}">Удалить поезд</a></li>
                            <li><a href ="{% url 'change_train' %}">Изменить поезд</a></li>
                            <li><a href ="{% url 'show_table' 'trains' %}">Таблица поездов</a></li>
                        </ul>
                        <span> </span>
                        <ul>
                            <li><a href ="{% url 'add_model' %}">Добавить модель поезда</a></li>
                            <li><a href ="{% url 'del_model' %}">Удалить модель поезда</a></li>
                            <li><a href ="{% url 'change_model' %}">Изменить модель поезда</a></li>
                            <li><a href ="{% url 'show_table' 'model_train' %}">Таблица моделей поездов</a></li>
                            
                        </ul>
                        <span> </span>
                        <ul>
                            <li><a href ="{% url 'add_it' %}">Добавить маршрут</a></li>
                            <li><a href ="{% url 'del_it' %}">Удалить маршрут</a></li>
                            <li><a href ="{% url 'change_it' %}">Изменить маршрут</a></li>
                            <li><a href ="{% url 'show_table' 'routes' %}">Таблица маршрутов</a></li>
                        </ul>
                        <span> </span>
                        <ul>
                            <li><a href ="{% url 'add_station' %}">Добавить станцию</a></li>
                            <li><a href ="{% url 'del_station' %}">Удалить станцию</a></li>
                            <li><a href ="{% url 'change_station' %}">Изменить станцию</a></li>
                            <li><a href ="{% url 'show_table' 'railway_stations' %}">Таблица станций</a></li>
                        </ul>
                        {% endif %}
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    <!--/ catagory_area -->


    <!-- featured_candidates_area_start  -->
    <div class="featured_candidates_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <p> </p>
                            <h3>Популярные направления</h3>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="candidate_active owl-carousel">
                        {% for city in popular_cites %}
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <!--<img src="{% static 'img/candiateds/' %}{{ city.id }}.png" alt=""> -->
                                <img src="{% static 'img/candiateds/0.png' %}" alt="">
                            </div>
                            <a href="{% url 'popular_city' city.id %}"><h4>{{ city.city_name }}</h4></a> 
                            <!--<p>{{ city.id }}</p> -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- featured_candidates_area_end  -->
<!--
    <div class="top_companies_area">
        <div class="container">
            <div class="row align-items-center mb-40">
                <div class="col-lg-6 col-md-6">
                    <div class="section_title">
                        <h3>Top Companies</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="brouse_job text-right">
                        <a href="jobs.html" class="boxed-btn4">Browse More Job</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="img/svg_icon/5.svg" alt="">
                        </div>
                        <a href="jobs.html"><h3>Snack Studio</h3></a>
                        <p> <span>50</span> Available position</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="img/svg_icon/4.svg" alt="">
                        </div>
                        <a href="jobs.html"><h3>Snack Studio</h3></a>
                        <p> <span>50</span> Available position</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <a href="jobs.html"><h3>Snack Studio</h3></a>
                        <p> <span>50</span> Available position</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <a href="jobs.html"><h3>Snack Studio</h3></a>
                        <p> <span>50</span> Available position</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- job_searcing_wrap  -->
    <div class="job_searcing_wrap overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3>Хотите быть в курсе всех ваших маршрутов?</h3>
                        <p>Отслеживайте свои маршруты в реальном времени</p>
                        <a href="#" class="boxed-btn3">Отследить</a>
                    </div>
                </div>
                <!--<div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3>Looking for a Expert?</h3>
                        <p>We provide online instant cash loans with quick approval </p>
                        <a href="#" class="boxed-btn3">Post a Job</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- job_searcing_wrap end  -->

    <!-- testimonial_area  -->
    <div class="testimonial_area  ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <h3>Место для чего-то интересного</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class="Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class=" Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class="Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->
{% endblock %}
